@import "tailwindcss";

:root {
  --claro: #FFEFE0;
  --blanco: #FDFFFE;
  --negro: #080808;
  --color-acento: #E94228;
  --color-medio: #FEAA4E;
  --color-acento2: #D2D835;
  --color-oscuro: #225629;

  --font-sans: var(--font-albert-sans);
  --font-serif: var(--font-domine)
}

@media (prefers-color-scheme: light) {
  body {
    background: var(--claro);
    color: var(--negro);
  }
}

body {
  background: var(--claro);
  color: var(--negro);
  font-family: var(--font-sans)
}

@tailwind utilities;

@layer utilities {
  .clip-star {
    clip-path: polygon(51% 1%, 35% 15%, 14% 16%, 17% 37%, 0% 49%, 20% 63%, 16% 82%, 39% 81%, 52% 100%, 64% 81%, 89% 80%, 84% 60%, 100% 45%, 83% 33%, 86% 13%, 65% 13%);
  }
}
