@import "tailwindcss";

:root {
  --claro: #FFEFE0;
  --blanco: #FDFFFE;
  --negro: #080808;
  --color-acento: #E94228;
  --color-medio: #FEAA4E;
  --color-acento2: #D2D835;
  --color-oscuro: #225629;
}

@media (prefers-color-scheme: light) {
  body {
    background: var(--claro);
    color: var(--negro);
  }
}

body {
  background: var(--claro);
  color: var(--negro);
  font-family: var(--font-sans);
}
